<div class="container-fluid">
  <div class="row">
    <shared-navegacion class="col-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2 p-0"></shared-navegacion>

    <main class="col-12 col-md-12 col-lg-10 col-lg-10 col-xl-10">
      <div class="row contenedorbgPadding">

        <div class="contenedor-perfil">
          <p>Bienvenido ARATH_ABELLO</p>

          <a href="#" class="text-primary content-img-perfil">
            <img class="perfil" src="../../../../assets/identidades/img-avatar1.jpeg" alt="perfil">
          </a>
        </div>
      </div>
      <section class="contenedor-crear">
        <header class="header-modulo-identidad">
          <h1>Listado de Identidades</h1>
          <a routerLink="crear-identidad" class="btn crear-identidad">CREAR IDENTIDAD</a>
        </header>
      </section>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr class="fw-bold fs-6 text-gray-800">
              <th class="th">NOMBRE</th>
              <th class="th">AVATAR</th>
              <th class="th">FECHA DE CREACIÓN</th>
              <th class="th">ACCIONES</th>
            </tr>
          </thead>
          <tbody class="tbody-relative ">
            <tr>
              <td>Tiger Nixon</td>
              <td><img class="img-tabla" src="../../../../assets/identidades/img-avatar2.jpeg" alt="imagen de ilustracion"></td>
              <td>2011/04/25</td>
              <td><button class="btn"><img class="img-btn" src="../../../../assets/botones/edit.png" alt=""></button><button class="btn eliminar-btn"><img class="img-btn" src="../../../../assets/botones/bin.png" alt=""></button></td>
            </tr>
            <tr>
              <td>Garrett Winters</td>
              <td><img class="img-tabla" src="../../../../assets/identidades/img-avatar3.jpeg" alt="imagen de ilustracion"></td>
              <td>2011/07/25</td>
              <td><button class="btn"><img class="img-btn" src="../../../../assets/botones/edit.png" alt=""></button><button class="btn eliminar-btn"><img class="img-btn" src="../../../../assets/botones/bin.png" alt=""></button></td>
            </tr>
          </tbody>
        </table>
        <div class="caja-escondida" id="cajaEscondida">
          <p>Desea eliminar la siguiente identidad virtual?</p>
          <button class="btn  btn-aceptar">Si</button>
          <button class="btn  btn-negacion">No</button>
        </div>
      </div>
    </main>
  </div>
</div>

<p>identidades works!</p>
