<div class="container-fluid">
  <div class="row">
    <shared-navegacion class="col-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2 p-0"></shared-navegacion>
    <main class="col-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10 mainIndex">
      <section class="row section1">
        <figure class="col-12 figureIndex">
         <img class="logo-index" src="../../../../../assets/logos/Logo_Youvi_Mall_Nuevo.png"
            alt="Logo del sitio web llamado Youvi Mall">
        </figure>

        <article class="col-12 articleAutenticacion">
          <form action="#" class="formLogeo">
           <div class="contenedorLogueo marginBottom">
             <label for="nombreUsuario" class="marginRight1">USUARIO: </label>
             <input type="text" id="nombreUsuario" name="nombreUsuario">
           </div>
           <div class="contenedorLogueo">
               <label for="claveUsuario" class="marginRight2">CLAVE: </label>
               <input type="text" id="claveUsuario" name="claveUsuario">
           </div >

           <div class="qrContenedor">
             <h1>LEER QR</h1>
             <img src="../../../../../assets/logos/qr-code.png" class="qr-code" alt="aqui va el QR"> <span>o</span>
             <button class="btn buttonFile"> SELECCIONAR ARCHIVO </button>
             <br>

             <a routerLink="/iniciar-sesion" class="btn buttonEntrar">ENTRAR</a>
           </div>
          </form>
        </article>



      </section>


    </main>
  </div>
</div>
