<div class="container-fluid">
  <div class="row">
    <shared-navegacion class="col-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2 p-0"></shared-navegacion>
    <main class="col-12 col-md-12 col-lg-10 col-lg-10 col-xl-10">
      <div class="row contenedorbgPadding">

        <div class="contenedor-perfil">
          <p>Bienvenido ARATH_ABELLO</p>

          <a href="#" class="text-primary content-img-perfil">
            <img class="perfil" src="../../../../../../assets/identidades/img-avatar1.jpeg" alt="perfil">
          </a>
        </div>
      </div>

      <section class="contenedor-crear">
          <header class="header-modulo-identidad">
            <h1>Registro Empresa</h1>
          </header>
          <form action="#" class="formEmpresa row">
              <label for="NombreEmpresa">Nombre: </label>
            <div class="contentInputEmpresa">
              <input type="text" name="nombreEmpresa" id="NombreEmpresa">
            </div>
            <label for="direccion">Dirección: </label>
            <div class="contentInputEmpresa">
              <input type="text" name="direccionEmpresa" id="direccionEmpresa">
            </div>
            <label for="telefono">Teléfono: </label>
            <div class="contentInputEmpresa">
              <input type="text" name="telefonoEmpresa" id="telefonoEmpresa">
            </div>
            <label for="rut">RUT: </label>
            <div class="contentInputEmpresa">
              <input type="text" name="rutEmpresa" id="rutEmpresa">
            </div>
            <label for="telefono">País: </label>
            <div class="contentInputEmpresa">
              <input type="text" name="telefonoEmpresa" id="telefonoEmpresa">
            </div>
            <label for="email">Email: </label>
            <div class="contentInputEmpresa">
              <input type="text" name="emailEmpresa" id="emailEmpresa">
            </div>
          </form>
        </section>
        <section class="contenedor-crear">
          <header><h2>Contactos</h2></header>
            <div class="contentFormEditar">
              <form class="formeditarEmpresa">
                <label for="nombre">Nombre: </label>
                <input type="text" id="nombre" name="nombreContacto">
                <label for="cargo">Cargo</label>
                <select name="cargos" id="cargo">
                  <option value="Diseñador">Diseñador</option>
                  <option value="Desarrollador">Desarrollador</option>
                </select>
                <label for="email">Email</label>
                <input type="email" name="emailContacto" id="email">
                <label for="contrasena">Contraseña</label>
                <input type="password" name="password" id="contrasena">
              </form>

              <div class="contentBtnAdmin">
                <button class="btn crearAdminBtn">CREAR ADMINISTRADOR TIENDA</button>
                <button class="btn crearAdminBtn">CREAR ADMINISTRADOR ANUNCIOS</button>
              </div>
            </div>
        </section>
    </main>
  </div>
</div>
