<div class="container-fluid">
  <div class="row">
    <shared-navegacion class="col-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2 p-0"></shared-navegacion>

    <main class="col-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10 mainIndex">
      <section class="row contenedorInicio">
        <figure class="col-12 figureIndex">
          <img class="logo-inicio" src="../../../../../../assets/logos/Logo_Youvi_Mall_Nuevo.png"
            alt="Logo del sitio web llamado Youvi Mall">
        </figure>

        <article class="col-12 articleAutenticacion">
            <header class="headerUsuario"><h1>¡HOLA HREADOR!</h1></header>
            <form action="#">
              <div class="contenedorInicioForm">
                <label for="claveUsuarioLogueo">CLAVE: </label>
                <input type="text" id="claveUsuarioLogueo">
              </div>

              <div class="contenedorInicioForm">
                <input type="checkbox" name="checkIngreso" id="checkIngreso">
                <label for="checkIngreso">INGRESAR CON MI PERFIL THOR</label>
              </div>

              <a routerLink="/identidades" class="btn buttonEntrar">ENTRAR</a>
            </form>
        </article>



      </section>


    </main>
  </div>
</div>
